html {
	height: auto;
	text-align: center;
}

body{
	font-family:Helvatica, sans-serif;
	/*background:url(http://codepen.io/images/classy_fabric.png);*/
  /*color:white;*/
	margin:0px;
	
}

#wrapper{
	margin:0;
  width:100%;
	height:inherit;
}

#name{
	width: 75%;
	background-image: linear-gradient(to bottom right,white, yellow, pink, white, yellow);
}

h1{
	background-color: aquamarine
}


  
#fsoc {
	background: black;
  
	vertical-align: middle;
  
	height: 100%;
	font-family: 'Lacquer', sans-serif;
	font-size: 12vw;
	color: white ;
	-webkit-text-stroke: 0.5vw orange;
  
	text-shadow: 1vw 1vw #FF0000;
  
	text-align: center;
}

   
#NoStake {
	background: black;
  
	vertical-align: middle;
  
	height: 100%;
	font-family: 'Saira Stencil One', cursive;
	font-size: 12vw;
	color: white ;
	-webkit-text-stroke: 0.5vw orange;
  
	text-shadow: 1vw 1vw #FF0000;
  
	text-align: center;
}